[Oo]bj/
[Bb]in/
TestResults/
*.suo
*.user
*.docstates
*.nupkg
packages/
[Bb]uild/
[Nn]u[Pp]ack/
App_Data/
*.local.xml
*.crunchsolution.cache
*.ncrunchsolution
*.ncrunchproject
*.vs10x
Thumbs.db
_ReSharper.Hive/
Publish/
.sass-cache/
