@model RafflesChart.Models.BlogViewModel
@{
    ViewBag.Title = "Blog";
}
@section Styles{
@Styles.Render("~/Content/css")
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/summernote.css" rel="stylesheet" />
}
<h2>Blog</h2>
<div class="row">
    <form class="span12" id="postForm" action="SaveBlog" method="POST" enctype="multipart/form-data" onsubmit="return postForm()">
        <fieldset>            
            <div>
                Title : 
                <input name="Title" />
            </div>
            <p class="container">
                <textarea class="input-block-level" id="summernote" name="Content" rows="18"></textarea>
            </p>
        </fieldset>
        <button type="submit" class="btn btn-primary">Save changes</button>        
    </form>
</div>
@section Scripts{
 
<script src="~/Scripts/summernote.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#summernote').summernote({ height: "500px" });
        });        
        var postForm = function () {
            var content = $('textarea[name="Content"]').html($('#summernote').code());
        }        
    </script>
}
