@model RafflesChart.Models.BlogViewModel

@{
    ViewBag.Title = "Blog";
}

<h2>Blog</h2>


<div>@Model.CreatedDate</div>
<div>@Model.Title</div>
<div>@Html.Raw(Model.Content)</div>
<br />
<div>
    <a href="Blogs/Index">Back to list</a>
</div>