@model RafflesChart.Models.BlogViewModel

@{
    ViewBag.Title = "Blog";
}
@section Styles{
    @Styles.Render("~/Content/css")

    <style>
        .postdate {
            color: grey;
            margin-top: -8px;
            margin-bottom: 20px;
            font-size: .8 em;
        }
    </style>
}

<h2><b>@Model.Title</b></h2>
<div class="postdate">Posted @Model.CreatedDate.ToString("dd MMM yyyy hh:mm tt")</div>
<div>@Html.Raw(Model.Content)</div>
<br />
<div>
    <a href="/Blogs/Index">Back to list</a>
</div>