@model IEnumerable<RafflesChart.Models.BlogViewModel>

@{
    ViewBag.Title = "BlogList";
}

<h2>BlogList</h2>
<div>
    <a href="Create">
        Add new blog
    </a>
</div>
<table class="table">

    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Title
            </th>
            <th>

            </th>
        </tr>
    </thead>
    @foreach (var item in Model.OrderBy(x => x.CreatedDate))
    {
        <tr>
            <td><a href="/Blogs/Detail/@item.Id">@item.Title</a></td>
            <td>@item.CreatedDate</td>

            <td><a href="/Blogs/Edit/@item.Id">edit</a> | <a href="/Blogs/Delete/@item.Id">delete</a></td>
        </tr>


    }
</table>