@model IEnumerable<string>

@{
    ViewBag.Title = "ActivateErrorEmails";
}


<hr />
                      <h2>Error Emails</h2>
<ul>
    @foreach (var email in Model) {
        <li>@email</li>
    }
</ul>

