@model RafflesChart.Models.SchemeViewModel

@{
    ViewBag.Title = "Details";
}

@section Styles {
    <style type="text/css">
        a.search-choice-close {
            display: none!important;
        }
    </style>
}

<h2>Details</h2>

<div>
    <h4>Scheme</h4>
    <hr />
    
    @Html.Partial("_Details", Model)
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts{
    @Scripts.Render("~/bundles/chosen")

    <script type="text/javascript">
        (function ($, window) {
            $(function () {
                $("#UserMarketIds").chosen({
                    placeholder_text_multiple: " ",
                    allow_single_deselect: true
                });
                $("#UserIndicatorIds").chosen({
                    placeholder_text_multiple: " "
                });
                $("#UserBullBearTestIds").chosen({
                    placeholder_text_multiple: " "
                });
                $("#UserBackTestIds").chosen({
                    placeholder_text_multiple: " "
                });
                $("#PatternScannerIds").chosen({
                    placeholder_text_multiple: " "
                });
                $("#ScannerIds").chosen({
                    placeholder_text_multiple: " "
                });
            });
        })(jQuery, window);
    </script>
}