@model RafflesChart.Models.SchemeViewModel

@{
    ViewBag.Title = "Details";
}

@section Styles {
    <style type="text/css">
        a.search-choice-close {
            display: none!important;
        }
    </style>
}

<h2>Details</h2>

<div>
    <h4>Scheme</h4>
    <hr />
    
    @Html.Partial("_Details", Model)
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
