@model IEnumerable<RafflesChart.Models.Registrant>
           <p><strong>Registrants</strong></p>

    @foreach (var item in Model)
    {
       <div> Name: @Html.DisplayFor(modelItem => item.FullName)</div>
    <div> Email: @Html.DisplayFor(modelItem => item.Email)</div>
    <div> Phone Number: @Html.DisplayFor(modelItem => item.PhoneNumber)</div>
     <br />    
    }
