@model IEnumerable<RafflesChart.Models.Registrant>
                      <span class="glyphicon glyphicon-user"></span> Registrants

    @foreach (var item in Model)
    {
       <div> @Html.DisplayFor(modelItem => item.FullName)
 <abbr title="Email">E:</abbr> @Html.DisplayFor(modelItem => item.Email)
           <abbr title="Phone">P:</abbr> @Html.DisplayFor(modelItem => item.PhoneNumber)</div>
    
    }
<br />