@model IEnumerable<RafflesChart.Models.BlogViewModel>

@{
    ViewBag.Title = "BlogList";
}

<h2>BlogList</h2>

@foreach (var item in Model)
{
    <div>@item.CreatedDate</div>
    <div><a href="BlogView/@item.Id">@item.Title</a></div>
   
    <hr />

}