@model IEnumerable<RafflesChart.Models.BlogViewModel>

@{
    ViewBag.Title = "BlogList";
}

<h2>Archives</h2>
<table class="table" style="width:300px">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Title
            </th>
            <th>

            </th>
        </tr>
    </thead>

    @foreach (var item in Model.OrderBy(x => x.CreatedDate))
    {
       
       
    <tr>
        <td>@item.CreatedDate</td>
        <td><a href="BlogDetail/@item.Id">@item.Title</a></td>
    </tr>
    }
    
</table>