@model IEnumerable<RafflesChart.Models.BlogViewModel>

@{
    ViewBag.Title = "BlogList";
}

<h2>Archives</h2>

@foreach (var item in Model.OrderBy(x => x.CreatedDate))
{
    <div>@item.CreatedDate</div>
    <div><a href="BlogView/@item.Id">@item.Title</a></div>    
    <hr />
}
