@model IEnumerable<RafflesChart.Models.BlogViewModel>

@{
    ViewBag.Title = "BlogList";
}

<h2>Blogs</h2>

@foreach (var item in Model.OrderBy(x => x.CreatedDate).Take(2))
{
    <div>@item.CreatedDate</div>
    <div>@item.Title</div>
    <div>@Html.Raw(item.Content)</div>
    <hr />
}
<br />
<div><a href="/Home/BlogArchives">View Archives</a></div>